*{
    margin: 0;
}

body{
    background: blue;
}

/* Barra do topo: */ 

.Barra{
    display: flex;
    background: rgb(36, 106, 235);
    height: 60px;
    border-bottom: 2px solid aqua;
}

#titulo{
    text-align: start;
    font-family: sans-serif;
    font-size: 40px;
}

/* Tela inicial:*/

#welcome{
    text-align:center;
    font-size: 60px;
}

.Barra-Inicio{
    display: flex;
    justify-content: stretch;
    background: rgb(69, 144, 243);
    height: 500px;
    width: 60%;
    margin-left: 18%;
    font-size: 25px;
}

#Hinata{
    align-items: start;
    background: red;
    text-align: start;

}

/*parte 2*/

.Barra2{
    background: red;
    height: 600px;
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;

}