*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/City-BG.gif);
    background-size: cover;
    background-attachment: fixed;
}

/* Barra do topo: */ 

.Barra{
    background-image: url(images/Mob-BG.gif);
    border-bottom: 2px solid rgb(19, 43, 75);
    border-end-end-radius: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#Titulo{
    text-align: start;
    font-size: 35px;
    font-style: oblique;
    font-family: sans-serif;
    font: bolder;
}

.Redes button{
    cursor: pointer;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgb(1, 1, 32);
    background: linear-gradient(40deg, rgb(53, 38, 250), rgb(25, 49, 94))

}

.Redes button:hover{
    transition: 2.5s;
    background: linear-gradient(40deg, rgb(23, 16, 114), rgb(11, 28, 58))
}

.Redes button i{
    font-size: 20px;
    padding-bottom: 10px;
    transition: 2.5s;
}

.Abas{
    font-size: 1vw;
    font-family: monospace;
    font-style: normal;

    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Jogos{
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
#Jogos:hover{
    color: blue;
}

#Model{
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;

}
#Model:hover{
    color: blue;
}

#Program{
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;

}
#Program:hover{
    color: blue;
}

#Start{
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    color: darkblue;
    display: none;
}



/* Tela inicial:*/

#welcome{
    transition: 2.5s;
    text-align:center;
    font-size: 70px;
    font-weight: bold;
    font-family: cursive;
    background: linear-gradient(40deg, rgb(86, 50, 185), rgb(45, 184, 226));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    rotate: 60px;
    animation: textim 10s infinite linear;
}

@keyframes textim {
    0%{
        transform: rotate(0deg);
        transform: scale(1,1);
        color: rgb(35, 35, 173);
    }

    25%{
        transform: rotate(4deg);
        color: rgb(33, 73, 184);
        transform: scale(1.2,1.1);

    }

    50%{
        transform: rotate(-4deg); 
        color: rgb(75, 114, 197);
        transform: scale(1.1,1.2);
    }

    75%{
        transform: rotate(4deg); 
        color:rgb(41, 117, 179);
        transform: scale(1.2,1.3);
    }

    100%{
        transform: rotate(0deg);
        color: rgb(35, 35, 173);
        transform: scale(1,1);

    }
}

.Barra-Inicio{
    background: rgb(69, 144, 243);
    border: 5px solid purple;
    border-radius: 50px;
    height: 500px;
    width: 60%;
    margin-left: 18%;
}

#texto-geral{
    padding-top: 5px;
    text-align: center;

}

#Atenção{
    font-size: 35px;
    font-weight: bold;
    text-align: center center;
    display: grid;
    text-decoration-color: rgb(0, 0, 0);
    font-family: monospace;
}

#Paragrafo{
    font-family: cursive;
    font-size: 25px;
    text-align: initial;
}
