*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/City-BG.gif);
    background-size: cover;
    background-attachment: fixed;
}

/* Barra do topo: */ 

.Barra{
    background-image: url(images/Mob-BG.gif);
    border-bottom: 2px solid rgb(19, 43, 75);
    border-end-end-radius: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

#Titulo{
    text-align: start;
    font-size: 35px;
    font-style: oblique;
    font-family: sans-serif;
    font: bolder;
}

.Redes button{
    cursor: pointer;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid rgb(1, 1, 32);
    background: linear-gradient(40deg, rgb(53, 38, 250), rgb(25, 49, 94))
}

.Redes button:hover{
    transition: 2.5s;
    background: linear-gradient(40deg, rgb(23, 16, 114), rgb(11, 28, 58))
}

.Redes button i{
    font-size: 20px;
    padding-bottom: 10px;
    transition: 2.5s;
}

.Abas{
    font-size: 1.5vw;
    font-family: monospace;
    font-style: normal;

    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Jogos{
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
#Jogos:hover{
    color: blue;
}

#Model{
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: darkblue;
}

#Program{
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;

}
#Program:hover{
    color: blue;
}

#Start{
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
#Start:hover{
    color: blue;
}

/*parte 3*/

.Barra3{
    background-image: url(images/Mob-BG.gif);
    border: 2px solid rgb(0, 255, 89);
    border-radius: 50px;
    height: 300px;
    width: 50%;
    margin-top: 2%;
}

#paragrafo{
    text-align: center;
    font-family: cursive;
    font-size: 30px;
}

.parte3{
    display: flex;
    justify-content: space-around;
}

.Modelos{
    display: grid;

}

.Models-fav{
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    width: 500px;
    padding-bottom: 200px;
    padding-top: 50px;
    padding-left: 100px;
    
}

#Ren{
    animation: Ren 10s infinite linear;
    align-items: center center;
    width: 500px;
    height: 700px;
}

@keyframes Ren {
    
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(2deg);
    }

    50%{
        transform: rotate(0deg);

    }

    75%{
        transform: rotate(-2deg);
    }

    100%{
        transform: rotate(0deg);
    }
}